.wrapper {
  box-sizing: border-box;
  width: 10vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px;

  border: 2px solid red;
}

.move {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.parameters_requirements {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
}
.lot_params {
  padding: 10px 0px;
}
