.app {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.trade_room {
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
