$pading-title: 10px;

.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table_body {
  td {
    padding: 8px;
    min-width: 200px;
  }

  td:not(:first-child) {
    text-align: center;
  }

  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
}
