.wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;

  .title {
    width: 100%;
    display: inline-block;
    left: 0;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0px 20px 10px 0px;

  display: inline-block;
  outline: none;

  height: 36px;
  line-height: 36px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #444;

  cursor: pointer;

  border: 1px solid #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 50%), 0 1px 3px rgb(0 0 0 / 20%);
  transition: box-shadow 0.2s;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }

  &:focus-visible {
    border: 1px solid gray;
    outline: none;
  }
}

.warning {
  position: absolute;
  color: red;
  bottom: 0;
  margin-bottom: -15px;
}
