$pading-title: 10px;

.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table_body {
  td {
    padding: 8px;
    min-width: 200px;
  }

  td:not(:first-child) {
    text-align: center;
  }

  .table_td_timer {
    text-align: center;
    color: blue;
    line-height: 60px;

    td {
      :first-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
}

.table_row__user_name {
  text-align: center;
  color: blue;
}

.table_row__price {
  p:first-child {
    color: red;
  }

  p:nth-child(2) {
    color: rgb(18, 197, 18);
  }

  p:last-child {
    color: blue;
  }
}

.disabled {
  color: gray;
  
}
