$pading-title: 10px;

.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table_body {
  td {
    padding: 8px;
    //  background: rgb(0, 255, 13);
  }

  td:not(:first-child) {
    text-align: center;
  }

  .table_td_timer {
    text-align: center;
    color: blue;
    line-height: 60px;

    td {
      :first-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
}

.table_row__user_name {
  text-align: center;
  color: blue;
}
