$pading-title: 10px;

.wrapper {
  box-sizing: border-box;
  width: 98vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid black;
}
.body__items_trade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border: 2px solid red;
}

.items__trade_name {
  margin-top: 30px;
  text-align: center;
}
