.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 60vh;
}

.body {
  padding: 50px 50%;
}

.table {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table_body {
  td {
    padding: 8px;
    min-width: 200px;
  }

  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
}
