.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 60vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table_body {
  td {
    padding: 15px;
    min-width: 200px;
  }

  tr:nth-child(-n + 2) {
    color: blue;
  }

  tr:first-child {
    text-align: center;
    height: 80px;
  }

  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
}
